@model IEnumerable<Category>

@{
    ViewData["Title"] = " | Manage Categories";
}

<h1 class="mb-2">Manage Categories</h1>

<h5 class="mt-2"><a asp-action="Add" asp-area="Admin">Add a Category</a></h5>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr><th>CategoryId</th><th>Name</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (Category category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.Name</td>
                <td>
                    <a asp-action="ViewEvents" asp-area="Admin" asp-route-id="@category.CategoryId"
                        my-button>View Events</a>
                    <a asp-action="Edit" asp-area="Admin" asp-route-id="@category.CategoryId"
                        my-button>Edit</a>
                    <a asp-action="Delete" asp-area="Admin" asp-route-id="@category.CategoryId"
                        my-button>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



